body {
  overflow: hidden;
  padding-top: 64px;
  margin: 0;
  font-family: "Nexa";
}

@media screen and (max-width: 599px) {
  body {
    padding-top: 56px;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
